#about-preview {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 90vh;
  background-color: #fff;
}

.about-image {
  flex: 1;
  min-height: 90vh;
  background: linear-gradient(to right, rgba(255,255,255,0.0) 50%, rgba(255,255,255,1) 100%),
              url('../../public/img/marine-img.jpg') center/cover no-repeat;
}

.about-text {
  flex: 1;
  padding: 6rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #222;
}

.about-title {
  font-size: 3.5rem;
  font-weight: 800;
  color: #fa8201;
  margin-bottom: 2rem;
  line-height: 1.2;
  text-align: left;
}

.about-line {
  font-size: 1.9rem;
  line-height: 1.7;
  margin-bottom: 1.5rem;
  color: #333;
  text-align: justify;
}

.btn-custom {
  margin-top: 2rem;
  display: inline-block;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-color: #ff9f00;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #e88f00;
}
