#header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#header .intro {
  position: relative;
  height: 100vh;
  background: url("../../public/img/intro-bg.jpg") center/cover no-repeat;
  animation: zoomIn 20s ease-in-out infinite alternate;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: left;
}

@keyframes zoomIn {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 105%;
  }
}

#header .overlay {
  position: absolute;
  inset: 0;
  background: rgba(234, 160, 0, 0.811);
  z-index: 1;
}
.intro-text-container {
  position: relative;
  z-index: 2;
  width: 50vw; /* hanya sebagian kiri layar */
  margin-left: 0; /* sedikit ke kanan dari kiri */
  padding-left: 1vw;
  padding: 3rem 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
  background-color: #ffffffd2; /* transparan putih */
  border-radius: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}


.intro-com {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0rem;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.intro-title {
  font-size: 3.8rem;
  font-weight: 550;
  margin-bottom: 4rem;
  color: #000000;
  text-shadow: .1rem .2rem .2rem rgba(0, 0, 0, 0.4);
}

.intro-paragraph {
  font-size: 2.6rem;
  line-height: 1.4;
  color: #000000;
  text-shadow:  0 3px 10px rgba(0, 0, 0, 0.4);
}

/* Responsive improvements */
@media (max-width: 768px) {
  .intro-title {
    font-size: 2.5rem;
  }
  .intro-paragraph {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .intro-text-container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
  }
}
